<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
       
        <mat-toolbar color="accent">
            <span>Menú</span>
            <span class="spacer"></span>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

    </mat-toolbar>

    
    <mat-list>
       <a routerLink="./list"
       mat-list-item
       (click)="sidenav.toggle()">
       <mat-icon matListItemIcon fontIcon="label"></mat-icon>
        <span>Listado de productos</span>
       </a>

       <a routerLink="./add"
       mat-list-item
       (click)="sidenav.toggle()">
       <mat-icon matListItemIcon fontIcon="add"></mat-icon>
        <span>Añadir producto</span>
       </a>

       <a routerLink="./search"
       mat-list-item
       (click)="sidenav.toggle()">
       <mat-icon matListItemIcon fontIcon="search"></mat-icon>
        <span>Buscar producto</span>
       </a>

      </mat-list>
    
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span color="accent">Hola, {{auth.userName}}</span>
        <button mat-button
        (click)="logOut()">
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

    
</mat-sidenav-container>