.container{
    margin:10px;
}

.spacer {
    flex: auto;
}

.button-logout {
    margin: 20px;
    background-color: rgb(15, 173, 12);
}

.button-logout:hover {
    background-color: rgb(174, 35, 35);
}


