.confirm_h1{
    padding:10px;
    color:white;
    text-align: center;
    font-weight:600;
}

.confirm_p{
    color: white;
    text-align: center;
    font-weight:500;
}

.confirm_button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}