<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
        <mat-card-subtitle>{{product.type}}</mat-card-subtitle>
        <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
    </mat-card-header>
<div class="img_container">
    <img class="img" mat-card-image [src]="product | image">
</div>

    <mat-card-content>
        <h3><strong>Color mostrado: {{ product.color }}</strong></h3>
        <br>
        <strong>Tallas disponible: {{ product.size }}</strong>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button
         color="accent"
         [routerLink]="['/products', product.id]">
            Descripción del producto
        </button>
        <button mat-button
        color="accent"
        [routerLink]="['/products/edit', product.id]">
            Editar
        </button>
    </mat-card-actions>
</mat-card>
