<div class="register_form">
  <h2>Registro de usuario</h2>
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <!---Name-->
      <div class="form_input">
        <label class="col-sm-3 col-form-label">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Full name"
        />
        <span class="form-text text-danger" *ngIf="invalidField('name')">
          Debes poner tu nombre completo
        </span>
      </div>

      <!---Email-->
      <div class="form_input">
        <label class="col-sm-3 col-form-label">Email</label>
        <input type="email" class="form-control" placeholder="User email" formControlName="email" />
        {{emailErrorMsg}}

      </div>

      <!---Password-->
      <div class="form_input">
        <label class="col-sm-3 col-form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password" />
        <span class="form-text text-danger" *ngIf="invalidField('password')">
          La contraseña debe tener mínimo 6 caracteres
        </span>
      </div>

      <!---Password2-->
      <div class="form_input">
        <label>Confirm your password</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
        <span class="form-text text-danger" *ngIf="invalidField('confirmPassword')">
          Las contraseñas deben ser iguales
        </span>
      </div>
      <div class="form_button">
        <button mat-stroked-button color="accent" type="submit" [disabled]="myForm.pending">Crear</button>
      </div>

    </form>
</div>
</div>

