<mat-grid-list cols="1" *ngIf="!product; else divProduct">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divProduct>
   <div class="product-box">
    <div>
        <h1>{{product.name}}</h1>
        <mat-divider></mat-divider>
        <br>
        <img class="img" [src]=" product | image">
        
    </div>

    <div>
        <h2>{{product.type}}</h2>
        <mat-divider></mat-divider>
        <br>
        <div class="product_type">
        <h2>{{product.price}}€</h2>
        <h3>Color: {{product.color}}</h3>
        <h2> Tallas disponibles: 
            
            {{product.size}}</h2>
            <h2>
                Descripción:
                </h2>
                <p class="text_description">
                
                {{product.description}}</p>
            <br>
            <p class="text_description">Recogida en tienda</p>
            <br>
            <br>
            <p class="text_description">Devoluciones y entregas gratuitas</p>
            <br>
            <p class="text_description">Como Member, tienes envíos gratuitos y devoluciones gratuitas en un plazo de 30 días.</p>
            <br>
            <p class="text_description">¡HASTA UN 50% DE DESCUENTO!</p>
            <br>
            <p class="text_description">Ya están aquí las ofertas de fin de temporada.</p>
        </div>
            <button
                mat-button
                color="accent"
                (click)="goBack()">
                Regresar
            </button>
    </div>
   </div>
</ng-template>


