.add-box{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:100%;
    gap:50px;
}

.add_form{
    display: flex;
    flex-direction: column;
    width:50%;
    gap:10px;
}

.button{
    display: flex;
    flex-direction: row;
    gap:100px;
    justify-content: center;
}



// Media queries mobile and tablet

@media (max-width: 767px) //Mobile
{
    .add-box{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        width:100%;
        gap:20px;
    }
    
    .add_form{
        display: flex;
        flex-direction: column;
        width:50%;
        gap:10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) //Tablet
{
    .add-box{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width:100%;
        gap:40px;
    }
    
    .add_form{
        display: flex;
        flex-direction: column;
        width:50%;
        gap:10px;
    }
  }