<h1>Añadir un nuevo producto</h1>
<mat-divider></mat-divider>
<br>
<div class="add-box">
<div class="add_form">
    <mat-form-field color="accent">
        <mat-label>Nombre del producto</mat-label>
        <input matInput
        type="text"
        required
            >
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Tallas</mat-label>
        <input matInput
        type="number"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Precio</mat-label>
        <input matInput
        type="number"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Color disponible</mat-label>
        <input matInput
        type="text"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Tipo de producto</mat-label>
        <input matInput
        type="text"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Descripción del producto</mat-label>
        <input matInput
        type="text"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Foto URL</mat-label>
        <input matInput
        type="url"
        required
            >
    </mat-form-field>
    <button mat-raised-button
    color="accent">
    <mat-icon>edit</mat-icon>
        Añadir producto
    </button>
</div>
<div>
    <img [src]=" product | image">
</div>
</div>
