<h1> {{(product.id) ? 'Editar el producto' : 'Añadir nuevo producto' }} </h1>
<mat-divider></mat-divider>
<br>
<div class="add-box">
<div class="add_form">
    <mat-form-field color="accent">
        <mat-label>Nombre del producto</mat-label>
        <input matInput
        type="text"
        [(ngModel)]="product.name"
        required
            >
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Tallas</mat-label>
        <input matInput
        type="text"
        [(ngModel)]="product.size"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Precio</mat-label>
        <input matInput
        type="number"
        [(ngModel)]="product.price"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Color disponible</mat-label>
        <input matInput
        type="text"
        [(ngModel)]="product.color"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Tipo de producto</mat-label>
        <input matInput
        type="text"
        [(ngModel)]="product.type"
        required
            >
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Descripción del producto</mat-label>
        <input matInput
        type="text"
        [(ngModel)]="product.description"
        required
            >
    </mat-form-field>
    
    <mat-form-field color="accent">
        <mat-label>Foto URL</mat-label>
        <input matInput
        type="url"
        [(ngModel)]="product.alt_img"
        required
            >
    </mat-form-field>

    <div class="button">
    <button mat-raised-button
    color="accent"
    (click)="save()">
    <mat-icon>edit</mat-icon>
    {{(product.id) ? 'Editar' : 'Añadir nuevo producto' }}
    </button>

    <button *ngIf="product.id"
    mat-raised-button
    (click)="deleteProduct()"
    color="warn"
    >
    <mat-icon>delete</mat-icon>
        Borrar
    </button>
    </div>
</div>
<div>
    <img [src]=" product | image">
</div>
</div>
